/*Cabeçalho*/
.cabecalho{
    background-color:rgb(38, 177, 247);
}
.logo{
   padding-top: 40px;
}
.titulo{
    padding-top: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

/* Perfil */
.perfil{
    background-color:rgb(38, 177, 247);
}
.nav-item a:hover{
    color: rgb(38, 177, 247);
}

.rounded-circle{
    max-width: 100%;
    height: 220px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.teste1{
    max-width: 100%;
}
ion-icon{
    font-size: 32px;
}
/* Vendas */
#navbarSupportedContent{
    padding-left: 210px;
    font-size: x-large;
}
#servicos a{
    color: white;
}
.nav-item a{
    color: white;
}
#servico1{
    color: black !important;
}
.vendas{
    background-color: rgb(115, 207, 253);
}
.produtos{
    padding-top: 30px;
}
.produtos p{
    text-align: center;
}
/*Rodapé */
.footer{
    background-color: rgb(38, 177, 247);
    text-align: center;
    padding-top: 15px;
}