*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo img{
    width: 100%;
}
.logo{
}
.search{
    text-align: right;
    padding-top: 20px;
}
.searchInput{
   width: 90%;
   height: 40px;
}


.textos{
    background-color: aquamarine;
}
.loginDiv{
    padding-top: 20px;
}
.login{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.comprasDiv{
    padding-top: 20px;
    
}
.compras{
    text-decoration: none;
    color: black;
    padding-left: 30px;
}
.cart{
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

.menu{
    min-width: 100%;
    text-align: center;
}
.menu a{
 color: red;
}
.carousel-item img{
    max-height: 300px;
}
.productRow img{
    width: 100%;
    margin-top: 20px;
}
.productRow p{
 text-align: center;
}
.titulo{
    text-align: center;
}
.contatoCol{
    text-align: center;
}
.contatoCol i{
    padding: 20px 10px;
}
.footerCopyright{
    text-align: center;
    background-color: #1d1919;
    color: purple;
}