* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #d1e1ebf8;
  overflow-x: hidden;
}

.headerContainer {
  margin: 10px;
}

.mainContainer {
  margin: 10px;
}

.header {
  justify-content: space-between;
}

.segundaDiv {
  flex-grow: 2;
}
.btnSearch {
  margin: -5px;
}
.logo img {
  width: 100%;
  max-width: 100px;
}
.formSearch {
  width: 100%;
}
.searchBox {
  width: 100%;
}
.login {
  text-decoration: none;
  color: #000 !important;
  font-size: 1rem !important;
}
.logado {
  text-decoration: none;
  color: #000 !important;
  font-size: 1rem !important;
}
.lista {
  display: flex;
  padding: 40px;
  width: 500px;
  justify-content: space-between;
}
.loginDiv {
}
.favDiv {
}
.favoritos {
  text-decoration: none;
  color: #000 !important;
  font-size: 1rem !important;
}

.menu {
  min-width: 100%;
}

.menu a {
  color: #dc3545;
  font-size: 1.6em;
}

.menu a:hover {
  color: #971010;
}

.carousel-item img {
  max-width: 60%;
  height: auto;
  max-height: 600px;
  margin: 0 auto;
}

.info {
  padding: 0 0 40px 0;
}

.categoria {
  padding-top: 20px;
}

.chat {
  text-align: center;
  margin: 20px 0px;
}
.favoritos {
  font-size: 1.5rem;
  padding: 20px;
  color: #971010;
}
.adicionar {
  padding: 10px;
}
.chatbtn {
  width: 300px;
  font-size: 1.8em;
}

.descricao {
  border: 1px solid #0d6efd;
  margin-bottom: 20px;
}
.footer {
  background-color: #18191a;
  color: white;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .segundaDiv {
    flex-grow: 0;
  }
  .searchBox {
    width: 200px;
  }
  .formSearch {
    padding: 70px 10px 10px;
  }
  .loginDiv {
    padding-bottom: 10px;
  }
  .textProduto {
    text-align: center;
  }
  .descricao {
    justify-content: center;
    margin-left: 10px;
  }
}
