* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #f7f7f7f8;
  overflow-x: hidden;
}
.headerContainer {
  margin: 10px;
}
.mainContainer {
  margin: 10px;
}
.header {
  justify-content: space-between;
  background-color: #dc3545;
}

.segundaDiv {
  flex-grow: 2;
}
.btnSearch {
  margin: -5px;
}
.logo img {
  width: 100%;
  max-width: 270px;
}
.formSearch {
  width: 100%;
}
.searchBox {
  width: 100%;
}
.login {
  text-decoration: none;
  color: #000 !important;
  font-size: 1rem !important;
}
.loginDiv:hover {
  color: #dc3545;
}
.logado {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-size: 1rem !important;
}
.logado:hover {
  color: #dc3545;
}
.lista {
  display: flex;
  padding: 40px;
  width: 500px;
  justify-content: space-between;
}

.favoritos {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-size: 1rem !important;
}
#btnMobile {
  display: none;
}

.menu {
  min-width: 100%;
}
.menu a {
  color: #dc3545;
  font-size: 1.6em;
}
.menu a:hover {
  color: #971010;
}
.imgProduto {
  max-width: 100%;
  max-height: 400px;
}
.logo {
  width: 80%;
}
.title {
  text-align: center;
  margin: 4rem 0;
}
.btnRedirect {
  margin: 4rem 0;
}
.mainContainer {
  margin: 0 3rem;
}
.divProduto {
  margin-bottom: 1rem;
  background-color: #e6e6e6;
}
.btnRedirect a {
  text-decoration: none;
  color: #fff;
  padding: 2rem 5rem;
  background-color: #1e176b;
  border-radius: 10px;
  transition: all 0.6s ease;
}
.btnRedirect a:hover {
  color: #42ed61;
  background-color: #0e82e8;
}

@media screen and (max-width: 768px) {
  .segundaDiv {
    flex-grow: 0;
  }
  .searchBox {
    width: 200px;
  }
  .formSearch {
    padding: 70px 10px 10px;
  }
  .loginDiv {
    padding-bottom: 10px;
  }
  .menuMobile {
    display: flex;
    justify-content: center;
  }
  #btnMobile {
    display: flex;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    width: 20px;
    border-top: 2px solid;
    display: block;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #menuCategoria {
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    transition: 0.6s;
    top: 170px;
    right: 0px;
    background-color: rgb(29, 27, 27);
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menuCategoria {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }
  #menuCategoria a {
    margin: 0px 1rem;
    border-bottom: 2px solid green;
    padding: 10px 0px;
  }
}
